<div class="section">
    <h2>Welcome, {{ userData?.displayName || authUser?.email }}</h2>

    <p>Email: {{ authUser?.email }}</p>
    <p>User ID: {{ authUser?.uid }}</p>

    <!-- <button (click)="goToSettings()">Account Settings</button> -->
    <button (click)="logout()">Logout</button>

    <hr>

    <button *ngIf="!isTfc" (click)="createFolder()">Create New Folder</button>

    <hr>

    <router-outlet></router-outlet>

    <ul *ngIf="authUser && !folderOpen">
        <h2>List of Folders</h2>
        <li *ngFor="let folder of folders">
            <a [routerLink]="['/dashboard/folder', folder.id]">
            {{ folder.id }} - Total: {{ folderTotals[folder.id] || 0 }}
            </a>
        </li>
    </ul>

    <ng-template #loading>Loading entries...</ng-template>
</div>
